@model Guid?
<div class="jumbotron">
    <h2>
        Thanks for Registering!
    </h2>
    <p>
        Your registration Id is: <small>@Model</small>
    </p>
    <p>
        @Html.ActionLink("Go back to Event List", "Events", new { }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>