<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 <connectionStrings>
    <add name="EventsContextConnectionString" 
		 connectionString=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Microsoft.WindowsAzure.Storage.ConnectionString" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Microsoft.ServiceBus.ConnectionString" value=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>