@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Events Administration</h1>
    <p>
        Text would go here to describe how to administer an event.
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="@Url.Action("Events")">
            Go to Events List
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </p>
</div>